{% extends "mainLayout.html" %}{% load static %}{% block list%}
<link href="{% static 'style/store.css' %}" rel="stylesheet" />
<script defer src="{% static 'script/store.js' %}"></script>
{% include "components/spacer.html" with headerSpace='none' %}
<div class="main">
    <div class="product-container">
        {% for product in allProducts %}
            <div class="product">
                <img src="media/{{product.mainImage}}" alt="Product 1">
                <h2>{{product.product_name}}</h2>
                <p>Price: ${{product.price}}</p>
                <button class="quick-view-button" onclick="openQuickView({{product.id}})">Quick View</button>
            </div>
            <div class="quick-view-modal" data-prodid="{{product.id}}" id="{{product.id}}">
                {% include "components/spacer.html" with headerSpace='none' %}
                <div class="quick-view-content">
                    <span class="close-button" onclick="closeQuickView()">&times;</span>
                    <img src="{% static '' %}{{product.mainImage}}" alt="Product 1" style="width: 42rem;">
                    <h2>{{product.product_name}}</h2>
                    <p>Price: ${{product.price}}</p>
                    <p>Description: {{product.description}}</p>
                    <form style="display:none;">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{product.id}}">
                    </form>
                    <button onclick="addThisShit({{product.id}})">Add to Cart</button>
                </div>
            </div>
        {% endfor %}
        <!-- Add more product items as needed -->
    </div>
</div>
{% endblock %}

