{% extends "mainLayout.html" %}{% load static %}{% block list %}
<link href="{% static 'style/pageSetup.css' %}" rel="stylesheet" />
<link href="{% static 'style/backArrow.css' %}" rel="stylesheet" />
{% include "components/spacer.html" with headerSpace='small' %}
<div class='mainCont' style="display: flex; justify-content: center;">
    {% include "components/backArrow.html" with destination="dashboard" %}
    <div style="background: white; border-radius: 24px; padding: 25px; width: 20rem;">
        <h2>Local Weather</h2>
        <br>
        <div>City: {{ weather.city|title }}</div><br>
        <div>Temperature: {{ weather.temperature }}</div><br>
        <div>Weather Description: {{weather.description|title }}</div><br>
        <div>Wind Speed: {{ weather.wind_speed }}mph</div><br>
        <div>Wind Direction: {{ weather.wind_direction }}</div><br>
        <div>Humidity: {{ weather.humidity }}%</div><br>
    </div>
</div>

{% endblock %}