{% extends "mainLayout.html" %}
{% load static %}{% block list%}
    {% block extra_head %}
        <link href="{% static 'style/pageSetup.css' %}" rel="stylesheet" />
        <link href="{% static 'style/backArrow.css' %}" rel="stylesheet" />
        <link href="{% static 'style/treeLog.css' %}" rel="stylesheet" />
    {% endblock %}
    <div class='card' style="margin: auto;color:white;">
        {% include "components/backArrow.html" with destination="tree" selector1=locationID selector2=areaID selector3=treeID %}
        {% if selector == 'all' %}
            <div class='dataCont' style='overflow: scroll;background: black;border-radius: 5px;'>
                <ul>
                    {% for log in treeLogData %}
                        <li>
                            [ {{log.timestamp}} ] {{log.category}} - {{log.note}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <div class='dataCont' style="background: black;border-radius: 5px;padding:10px;">
                <div>
                    <div style="display:flex;">
                        <span style="width:120px;display: block;"><strong>Time Stamp:</strong></span> 
                        <span>{{treeLog.timestamp}}</span><br>
                    </div>
                    <div style="display:flex;">
                        <span style="width:120px;display: block;"><strong>Tree ID:</strong></span> 
                        <span>{{locationID}}-{{areaID}}-{{treeID}}</span><br>
                    </div>
                    <div style="display:flex;">
                        <span style="width:120px;display: block;"><strong>Category:</strong></span> 
                        <span>{{treeLog.category}}</span><br>
                    </div>
                    <div style="display:flex;">
                        <span style="width:120px;display: block;"><strong>Log:</strong></span> 
                        <span>{{treeLog.note}}</span>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}