  main {
    padding: 20px;
  }
  
  .announcement {
    background-color: #f8f8f8;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .announcement:hover {
    background-color: #e0e0e0;
  }
  