.header{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
}
.logo{
    height: 67px;
}
.logo img{
    margin-left: 1rem;
    width: 67px;
}
.navCont{
    display: flex;
    margin-right: 1rem;
}