{% extends "mainLayout.html" %}
{% block list %}{% load static %}
    {% block extra_head %}
        <link href="{% static 'style/irrigation_timer.css' %}" rel="stylesheet">
    {% endblock %}
    {% include "components/spacer.html" with headerSpace='small' %}
    <div class="tileCont main" style="padding-top: 150px;">
        <div class="form-container">
            {% include "components/backArrow.html" with destination="irrigation_dash" %}
            <h2>Set Irrigation Schedule</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <label for="id_valve">Select Valve</label>
                {{ form.valve }}

                <label for="id_start_time">Start Time</label>
                {{ form.start_time }}
                <br>

                <label for="id_end_time">End Time</label>
                {{ form.end_time }}<br>

                <label>Days</label>
                <div class="checkbox-group">
                    {{ form.days }}
                </div>

                <button type="submit" class="submit-btn">Save Schedule</button>
            </form>
        </div>
    </div>
{% endblock %}