{% extends "mainLayout.html" %}{% load static %}{% block list %}
<link href="{% static 'style/pageSetup.css' %}" rel="stylesheet" />
<link href="{% static 'style/backArrow.css' %}" rel="stylesheet" />
<link href="{% static 'style/recipeInfo.css' %}" rel="stylesheet" />
{% include "components/spacer.html" with headerSpace="small" %}
<div class='mainCont'>
    {% include "components/secondarySideBars/secondarySideBar.html" with selector="recipe" %}
    {% include "components/backArrow.html" with destination="dashboard" %}
    <div class="recipeCont">
        <div class="innerRecipeCont">
            <h2>{{recipeData.name|title}}</h2>
            <div class="imagesCont">
                {% if recipeData.image1 or recipeData.image2 or recipeData.image3 or recipeData.image4 %}
                    {% if recipeData.image1 %}<img src="{% static '' %}{{recipeData.image1}}" style="width: 18rem;">{% endif %}
                    {% if recipeData.image2 %}<img src="{% static '' %}{{recipeData.image2}}" style="width: 18rem;">{% endif %}
                    {% if recipeData.image3 %}<img src="{% static '' %}{{recipeData.image3}}" style="width: 18rem;">{% endif %}
                    {% if recipeData.image4 %}<img src="{% static '' %}{{recipeData.image4}}" style="width: 18rem;">{% endif %}
                {% else %}
                    No Images Uploaded
                {% endif %}
            </div>
            <div>
                <div class="headerInputs"><h4>Serves:</h4>&nbsp;&nbsp;{{recipeData.serving_size}} people</div>
                <div class="headerInputs"><h4>Description:</h4>&nbsp;&nbsp;{{recipeData.description}}</div>
                <div class="headerInputs"><h4>Cuisine:</h4>&nbsp;&nbsp;{{recipeData.cuisine|title}}</div>
                <div class="headerInputs"><h4>Freezer Friendly:</h4>&nbsp;&nbsp;{{recipeData.freezer_friendly}}</div>
                <div class="headerInputs"><h4>Course:</h4>&nbsp;&nbsp;{{recipeData.meal_type|title}}</div>
                <div class="grid-container">
                    <div class="grid-item">Prep-Time</div>
                    <div class="grid-item">Cook-Time</div>
                    <div class="grid-item">Total-Time</div>  
                    <div class="grid-item">{{recipeData.time.prep_time}}</div>
                    <div class="grid-item">{{recipeData.time.cook_time}}</div>
                    <div class="grid-item">{{recipeData.time.total_time}}</div> 
                </div>
            </div><br>
            <div>
                <h4>Ingredients:</h4>
                {% for key1, element in recipeData.ingredients.items %}
                    <h3 class="elementIndent">{{element.name}}</h3>
                    <ul class="ingredientIndent">
                    {% for key2, ingredient in element.eIngredients.items %}
                        <li>{{ingredient.quantity}} {{ingredient.measurement}} - {{ingredient.name}} {% if ingredient.notes != "-" %}({{ingredient.notes}}){% endif %}</li>
                    {% endfor %}
                    </ul>
                {% endfor %}
                </ul>
            </div>
            <div>
                <h4>Equipment:</h4>
                {% for key, value in recipeData.equipment.items %}
                    <div class="elementIndent">{{value.qty}} - {{value.name|title}} {% if value.notes != "-" %}({{value.notes}}){% endif %}</div>
                {% endfor %}
            </div>
            <div>
                <h4>Directions:</h4>
                {% for direct in directionSplit %}
                    {% if forloop.counter in elementLines %}
                        <h3 class="elementIndent">{{direct}}</h3>
                    {% else %}
                        <div class="ingredientIndent">{{direct}}</div>
                    {% endif %}
                {% endfor %}
            </div>
            <div>
                <h4>Special Notes:</h4>&nbsp;&nbsp;{{recipeData.special_notes}}
            </div>
        </div>
    </div>

{% endblock %}