{% extends "mainLayout.html" %}{% load static %}{% block list%}
<link href="{% static 'style/pageSetup.css' %}" rel="stylesheet" />
<link href="{% static 'style/addCards.css' %}" rel="stylesheet" />
<link href="{% static 'style/backArrow.css' %}" rel="stylesheet" />
<script defer src="{% static 'script/hideAddContainer.js' %}"></script>
{% include "components/spacer.html" with headerSpace='small' %}
{% include "components/secondarySideBars/secondarySideBar.html" with selector="area" %}
<div id='mainCont' class="secondarySideBarGap">
    <a id="addLink" href=# onclick="showAddElem(areaForm)">
        <h3>Add Area</h3>
    </a>
    <form id="areaForm" class="addCont" action='' method="POST" style="display:none;">
        {% csrf_token %}
        {{addForm.locationID.label}}<br>
        <input type="text" style="background: gray;" readonly name="locationID" value="{{location.locationID}}"/><br>
        {{addForm.areaID.label}}<br>
        <input type="text" style="background: gray;" readonly name="areaID" value="{% if areasData|length > 0 %}{{newID}}{% else %}001{% endif %}"/> <br>
        {{addForm.name.label}}<br>
        {{addForm.name}}<br>
        {{addForm.widthByTree.label}}<br>
        {{addForm.widthByTree}}<br>
        {{addForm.lengthByTree.label}}<br>
        {{addForm.lengthByTree}}<br>
        {{addForm.dateEst.label}}<br>
        {{addForm.dateEst}}<br>
        <input type='submit' value='Save' />
    </form>
</div>
{% endblock %}