{% extends "mainLayout.html" %}{% load static %}{% block list%}
<link href="{% static 'style/pageSetup.css' %}" rel="stylesheet" />
<link href="{% static 'style/addCards.css' %}" rel="stylesheet" />
<link href="{% static 'style/backArrow.css' %}" rel="stylesheet" />
<script defer src="{% static 'script/hideAddContainer.js' %}"></script>
{% include "components/spacer.html" with headerSpace='small' %}
{% include "components/secondarySideBars/secondarySideBar.html" with selector="location" %}
<div id='mainCont' class="secondarySideBarGap">
    <a id="addLink" href=# onclick="showAddElem(locationForm)">
        <h3>Add Location</h3>
    </a>
    <form id="locationForm" class="addCont" action='' method="POST" style="display:none;">
        {% csrf_token %}
        {{addForm.locationID.label}}<br>
        <input type="text" readonly style="background: gray;" name="locationID" value="{{newID}}"/> <br>
        {{addForm.name.label}}<br>
        {{addForm.name}}<br>
        {{addForm.address.label}}<br>
        {{addForm.address}}<br>
        {{addForm.city.label}}<br>
        {{addForm.city}}<br>
        {{addForm.state.label}}<br>
        {{addForm.state}}<br>
        Date Established<br>
        {{addForm.dateEst}}<br>
        <input type='submit' value='Save' />
    </form>
</div>
{% endblock %}