{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Heaven's Gates Cherry Farm</title>
        <meta name="keywords" content="Fruit Farm, Heavens Gates Cherry Farm, Cherries, Strawberries, Organic, Family Friendly, Produce, Buy Fruit, Michigan cherry farm, Fresh cherries near me, Strawberry farm in Michigan, Northern Michigan fruit farms">
        <meta name="description" content="Heavens Gates Cherry Farm is a family-owned cherry and strawberry farm in Hale, Michigan offering U-pick fruit, fresh produce, and a beautiful farm experience.">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/HGCF-logo.png' %}">
        <link href="{% static 'style/layout.css' %}" rel="stylesheet">
        <link href="{% static 'style/universal.css' %}" rel="stylesheet">
        <script defer src="{% static 'script/header.js' %}"></script>
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <header>{% include "components/header.html" %}</header>
        {% comment %} {% if sideBar %}{% include "components/sideBar.html" %}{% endif %} {% endcomment %}
        <main style="{% if sideBar %}margin-top: 89px;{% endif %}">
            {% block list %}{% endblock %}
        </main>
    </body>
    {% if not noFooter %}
        <footer>
            <p>&copy; 2023 Heaven's Gates Cherry Farm</p>
        </footer>
    {% endif %}
</html>